@charset "UTF-8";
.headingFirst {
  width: 100%;
  height: 53.3px;
  position: relative;
  top: 0px;
  background-color: white;
}

.headingFirst .headingFirstOne {
  height: 53.3px;
  width: 1324px;
  margin: auto;
  display: flex;
  align-items: center;
}

.headingFirst .headingFirstOne .headingFirstOnePhoto {
  width: 26px;
  height: 24px;
  background-image: url(../navigationPhoto/bilibili1.png);
  background-size: 26px 24px;
  margin: 0px 13px 0px 0px;
}

.headingFirst .headingFirstOne .headingFirstOneul {
  width: 390px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headingFirst .headingFirstOne .headingFirstOneul li {
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #1b1b1b;
  line-height: 41.3px;
}

.headingFirst .headingFirstOne input {
  width: 281px;
  height: 26px;
  margin: 0px 0px 0px 95px;
  font-size: 9px;
  font-family: Adobe Heiti Std;
  font-weight: normal;
  color: #d7d7d7;
  border: #d7d7d7 solid 1px;
  border-radius: 2px;
}

.headingFirst .headingFirstOne .headingFirstInputPhoto {
  width: 22px;
  height: 22px;
  background: #fb7298;
  border: 1px solid #fb7298;
  border-radius: 50%;
  position: relative;
  left: -11px;
  background-image: url(../navigationPhoto/sousuo.png);
  background-size: 22px 22px;
}

.headingFirst .headingFirstOne .headingFirstThreePhoto {
  width: 39px;
  height: 39px;
  background: white;
  border: 1px solid #d5d5d5;
  border-radius: 50%;
  background-image: url(../navigationPhoto/人头.png);
  background-size: 39px 39px;
  margin: 3px 18px 0px 180px;
}

.headingFirst .headingFirstOne .headingFirstTwoul {
  width: 135px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headingFirst .headingFirstOne .headingFirstTwoul li {
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #1b1b1b;
  line-height: 41.3px;
}

.navigationButton {
  width: 100px;
  height: 57px;
  background-color: #FB7298FF;
  transform: skew(21deg);
  margin-left: 7px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: white;
  text-align: center;
  line-height: 57px;
}

.navigationButton span {
  display: block;
  transform: skew(-21deg);
}
